package ui

templ Toast(toastType string, message string) {
	<div
		data-toast
		class={
			"alert shadow-lg animate-toast-fade-in",
			templ.KV("alert-destructive", toastType == "error"),
		}
	>
		if toastType == "error" {
			@Icon("alert-circle", "size-5")
		} else {
			@Icon("check-circle2", "size-5")
		}
		<span>{ message }</span>
	</div>
}
